<ion-view id="call">
<ion-content padding="false" scroll="false">
<!-- <button class="button button-full" ng-click="startRecord()">Fetch</button> -->

    <div class="row responsive-md">
        <div class="col col-50 col-offset-25">

            <div class="text-center exit">
                <a ng-click="startRecord()""><img class="fetchImg" src="img/astroJetsons.jpg" alt="Astro"/>
            <h4 class="titleCall">Fetch!</h4></a>
            </div>

      <!--         <button class="button button-full" ng-click="startRecord()">Fetch</button> -->
        </div>
    </div>

    </ion-content>
</ion-view>
