<ion-view id="call">
<ion-content padding="false" scroll="false">
<!-- <button class="button button-full" ng-click="startRecord()">Fetch</button> -->

    <div class="row responsive-md">
        <div class="col col-50">

            <!-- <div class="text-center exit"> -->
                <!-- <a ng-click="startRecord()""> -->
                <img class="fetchImg" src="img/astro-guitar.png" alt="Astro"/>
            <!-- <h4 class="titleCall">Fetch!</h4> -->
            <!-- </a> -->
            <!-- </div> -->
<div class="row responsive-md">
<div class="col text-center">
    <button style="/*border-radius: 50%;*/ /*height:100px;*/  width: 100%; color: #2c3e50; font-size: 2.5em; text-shadow: 1px 1px 1px #ecf0f1; font-family: 'Orbitron', sans-serif;" class="button button-full" ng-click="startRecord()">Fetch!</button>
    </div>
    </div>
  </div>
  </div>
    </ion-content>
</ion-view>
