<ion-view>
<ion-content id="fetch">

<div class="row responsive-md">
    <div class="col col-50 col-offset-25">

        <div class="text-center wrap">
<h1 class="animated infinite bounce titleFetch">Fetching...</h1>
<img class="animated infinite bounce titleFetch" src="img/astroFetch.gif">
        </div>
    </div>
</div>
</ion-content>
<div style="position: absolute; bottom: 0px; width: 100%">
<a ng-href="#/call"<button style="color: #2c3e50; font-size: 3em; text-shadow: 1px 1px 1px #ecf0f1;": 'Orbitron', sans-serif;"  class="button button-full bottom">Astro???</button></a>
</div>
</ion-view>
